<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>workout-track hey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Render all workout lists -->
  <ng-container
    *ngFor="let exerciseTypeId of getObjectKeys(workoutLists); let listIndex = index"
  >
    <ion-list class="flex flex-col">
      <!-- Table header -->
      <ion-text class="ion-text-center">
        {{workoutLists[exerciseTypeId][0].exercise_name}}
      </ion-text>
      <ion-row class="ion-text-center">
        <ion-col size="4">
          <ion-label>Set</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>Weight</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>Reps</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label></ion-label>
        </ion-col>
      </ion-row>

      <!-- Table rows -->
      <ion-row
        *ngFor="let workout of workoutLists[exerciseTypeId] let i = index"
        class="ion-text-center"
      >
        <ion-col size="4">
          <ion-input
            class="rounded-lg bg-slate-200"
            [value]="workout.set"
            readonly
          ></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-input
            class="rounded-lg bg-slate-200"
            [(ngModel)]="workout.weight"
            autofocus
          ></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-input
            class="rounded-lg bg-slate-200"
            [(ngModel)]="workout.reps"
          ></ion-input>
        </ion-col>
        <ion-col size="4">
          <i type="submit" (click)="completeSet(i, listIndex)">
            <ion-icon
              id="check-icon-{{ i }}"
              class="check-icon gray"
              [class.success]="selectedIcons[listIndex]?.[i.toString()]"
              name="checkmark-circle"
            ></ion-icon>
          </i>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-button expand="block" (click)="addRow(exerciseTypeId)"
      >Add Set</ion-button
    >
  </ng-container>

  <app-add-exercise-modal
    (selectedExercise)="selectedExerciseHandler($event)"
  ></app-add-exercise-modal>

  <ion-button expand="block" (click)="finish()">Finish Workout</ion-button>
</ion-content>
