<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="pl-5">
      <ion-back-button defaultHref="/" text="" fill="clear" size="large"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center mt-5">
    <ion-label> Already Have an Account? <a class="font-bold" (click)="onSignIn()">Sign in</a> </ion-label>
  </div>
  <form [formGroup]="form" #ngForm="ngForm" (ngSubmit)="onRegister(ngForm)" novalidate>
    <div class="p-6">
      <ion-row class="mb-4">
        <ion-col class="flex flex-col gap-1 p-0">
          <ion-label class="">First Name</ion-label>
          <ion-item lines="none">
            <ion-input
              formControlName="first_name"
              autocomplete="given-name"
              class="border rounded-lg"
              name="first_name"
              type="text"
              spellcheck="false"
              autocapitalize="true"
              (ionBlur)="onBlur('first_name')"
              (change)="onChange('first_name', $event)"
              required
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="mb-4">
        <ion-col class="flex flex-col gap-1 p-0">
          <ion-label>Last Name</ion-label>
          <ion-item lines="none">
            <ion-input
              lines="none"
              formControlName="last_name"
              autocomplete="family-name"
              class="border rounded-lg"
              name="last_name"
              type="text"
              spellcheck="false"
              autocapitalize="true"
              (ionBlur)="onBlur('last_name')"
              (change)="onChange('last_name', $event)"
              required
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="mb-4">
        <ion-col class="flex flex-col gap-1 p-0">
          <ion-label>Email</ion-label>
          <ion-item lines="none">
            <ion-input
              formControlName="email"
              autocomplete="email"
              class="border rounded-lg"
              name="email"
              type="email"
              spellcheck="false"
              autocapitalize="off"
              required
              appAutofillMonitor
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="mb-4">
        <ion-col class="flex flex-col gap-1 p-0">
          <ion-label>Password</ion-label>
          <ion-item lines="none">
            <ion-input
              class="border rounded-lg"
              type="password"
              name="password"
              autocomplete="new-password"
              formControlName="password"
              spellcheck="false"
              autocapitalize="off"
              required
              appAutofillMonitor
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="mb-4">
        <ion-col class="flex flex-col gap-1 p-0">
          <ion-label>Confirm Password</ion-label>
          <ion-item lines="none">
            <ion-input
              type="password"
              name="password_confirmation"
              class="border rounded-lg"
              autocomplete="new-password"
              formControlName="password_confirmation"
              spellcheck="false"
              autocapitalize="off"
              required
              appAutofillMonitor
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="pt-6">
        <ion-col class="flex justify-center p-0">
          <ion-button type="submit">Register</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
