<ion-content scrollY="false">
  <div class="h-[40%] tall:h-[45%] xs:h-[55%] landing-header">
    <div class="landing-image docgo"></div>
  </div>
  <div class="flex flex-col justify-center h-[55%] tall:h-[50%] xs:h-[45%]">
    <div class="mt-5 flex flex-col items-center mb-2 tall:mt-6 tall:mb-3">
      <h2 class="text-xl font-medium mt-4">Healthcare Comes to You</h2>
    </div>
    <ion-row class="mx-4 mt-1">
      <ion-col>
        <ion-button data-test="onboarding" expand="block" class="text-xl base-btn" routerLink="/register"
          >Sign Up</ion-button
        >
      </ion-col>
    </ion-row>
    <div class="flex justify-center">
      <span class="text-bluegray-950 dark:text-white">or</span>
    </div>

    <ion-row class="flex justify-center mx-4 xs:mb-1">
      <ion-col>
        <ion-button expand="block" data-test="signin" class="text-xl secondary-btn mb-8" routerLink="/login"
          >Sign in</ion-button
        >
        <div class="flex justify-center rrt-btn-link-secondary">
          <button (click)="seeAboutUsPage()">About DocGo</button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
