<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>track-food</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-daily-calories-intake></app-daily-calories-intake>

  <ion-card *ngFor="let mealType of [1, 2, 3]">
    <ion-card-header>
      <ion-card-title class="text-xl">
        {{ mealType === 1 ? 'Breakfast' : mealType === 2 ? 'Lunch' : 'Dinner'}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let foodItem of foodItems[mealType]">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label class="!text-sm">{{ foodItem.name }} ({{ foodItem.kcal }}kcal)</ion-label>
        </ion-item>
        <ion-button class="flex pt-3" (click)="presentModal(mealType)">
          <ion-icon slot="start" name="add"></ion-icon>
          Add Food
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
