<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>history-track hey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex justify-center">
    <mat-form-field floatLabel="always">
      <mat-label>Select Date to see Diet Details</mat-label>
      <div class="date-picker-wrapper">
        <input
          matInput
          [matDatepicker]="latestVisbilityDatePicker"
          [formControl]="selectedDateControl"
          (dateChange)="onDateChange($event)"
          [matDatepickerFilter]="dateFilter"
        />
      </div>
      <mat-datepicker-toggle matSuffix [for]="latestVisbilityDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #latestVisbilityDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <app-daily-diet-details [foodItems]="selectedDiet?.foods"></app-daily-diet-details>
</ion-content>
