<ion-header>
  <ion-toolbar>
    <ion-title> {{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" [strong]="true">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="true" class="ion-padding">
  <ion-item *ngIf="title.includes('Food')">
    <ion-select
      (ionChange)="onMealTypeChange($event)"
      label="Meal Type"
      label-placement="fixed"
      placeholder="Select one"
    >
      <ion-select-option value="1">Breakfast</ion-select-option>
      <ion-select-option value="2">Lunch</ion-select-option>
      <ion-select-option value="3">Dinner</ion-select-option>
      <ion-select-option value="4">Snack</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-searchbar placeholder="Search" [(ngModel)]="searchQuery" (input)="performSearch()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let option of filteredSearchOptions" (click)="select(option)">
      <!-- <ion-avatar slot="start">
        <ion-img [src]="option.imageSrc"></ion-img>
      </ion-avatar> -->
      <ion-label>
        <h2>{{ option.name }}</h2>
        <p *ngIf="title.includes('Exercise')">{{ option.muscle_group }}</p>
        <p *ngIf="title.includes('Food')">calories: {{ option.kcal }} kcal</p>
        <p *ngIf="title.includes('Food')">protein: {{ option.protein }} g</p>
        <p *ngIf="title.includes('Food')">fat: {{ option.fat }} g</p>
        <p *ngIf="title.includes('Food')">carb: {{ option.carbohydrate }} g</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
