<ion-header>
  <ion-toolbar>
    <ion-title>Select Exercise</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" [strong]="true">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="false" class="ion-padding">
  <ion-searchbar placeholder="Search" [(ngModel)]="searchQuery" (input)="performSearch()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let option of filteredSearchOptions" (click)="select(option)">
      <ion-avatar slot="start">
        <ion-img [src]="option.imageSrc"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ option.name }}</h2>
        <p>{{ option.muscle_group }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
