<ion-segment (ionChange)="segmentChanged($event)" value="Nutritions">
  <ion-segment-button value="Nutritions">
    <ion-label>Nutritions</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Overview">
    <ion-label>Overview</ion-label>
  </ion-segment-button>
</ion-segment>

<div *ngIf="currentSegment === 'Nutritions'">
  <ion-card>
    <ion-card-header class="p-2 px-4">
      <ion-card-title class="text-lg flex justify-center"> Calories </ion-card-title>
    </ion-card-header>
    <ion-card-content class="flex justify-center">
      <div class="calorie-equation" [formGroup]="intakeForm">
        <div class="equation-row">
          <div class="equation-cell">
            <span class="equation-value">{{ goal }}</span>
            <span class="equation-label">Goal</span>
          </div>
          <div class="equation-cell">
            <span class="equation-symbol">-</span>
          </div>
          <div class="equation-cell">
            <input readonly class="w-14 equation-value" formControlName="calories" />
            <span class="equation-label">Taken</span>
          </div>
          <div class="equation-cell">
            <span class="equation-symbol">=</span>
          </div>
          <div class="equation-cell">
            <span class="equation-value">{{ remaining | number : '1.0-0' }}</span>
            <span class="equation-label">Remaining</span>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
<div id="chart-container" [hidden]="currentSegment !== 'Nutritions'"></div>
