<ion-segment (ionChange)="segmentChanged($event)" value="Calories">
  <ion-segment-button value="Calories">
    <ion-label>Calories</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Nutritions">
    <ion-label>Nutritions</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-card>
  <ion-card-content class="flex justify-center">
    <div class="calorie-equation">
      <div class="equation-row">
        <div class="equation-cell">
          <span class="equation-value">{{ goal }}</span>
          <span class="equation-label">Calories Goal</span>
        </div>
        <div class="equation-cell">
          <span class="equation-symbol">-</span>
        </div>
        <div class="equation-cell">
          <span class="equation-value">{{ taken }}</span>
          <span class="equation-label">Taken</span>
        </div>
        <div class="equation-cell">
          <span class="equation-symbol">=</span>
        </div>
        <div class="equation-cell">
          <span class="equation-value">{{ remaining }}</span>
          <span *ngIf="currentSegment === 'Calories'" class="equation-label">Remaining Calories</span>
          <span *ngIf="currentSegment === 'Nutritions'" class="equation-label">Remaining Proteins</span>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
