<ion-card>
  <ion-card-content class="flex justify-center">
    <div class="calorie-equation">
      <div class="equation-row">
        <div class="equation-cell">
          <span class="equation-value">{{ goalCalories }}</span>
          <span class="equation-label">Goal Calories</span>
        </div>
        <div class="equation-cell">
          <span class="equation-symbol">-</span>
        </div>
        <div class="equation-cell">
          <span class="equation-value">{{ foodTakenCalories }}</span>
          <span class="equation-label">Food</span>
        </div>
        <div class="equation-cell">
          <span class="equation-symbol">=</span>
        </div>
        <div class="equation-cell">
          <span class="equation-value">{{ remainingCalories }}</span>
          <span class="equation-label">Remaining Calories</span>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
