<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Diet </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="workout-card" class="home-content" (click)="sendEvent('track')">
    <div class="flex justify-center">
      <img style="height: 200px" src="assets/food.png" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>Quick Start</ion-card-subtitle>
      <ion-card-title>Track Your Diet</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Click to start tracking your calories intake and see your progress.
    </ion-card-content>
  </ion-card>
</ion-content>
