<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Workout </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card id="workout-card" class="home-content">
    <div class="flex justify-center">
      <img style="height: 200px" src="assets/gym.png" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>Quick Start</ion-card-subtitle>
      <ion-card-title>Start Your Workout</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Click to start tracking your workout and see your progress.
    </ion-card-content>
  </ion-card>

  <!-- <ion-card id="diet-card" class="home-content">
    <div class="flex justify-center">
      <img style="height: 200px" src="assets/calorie.png" />
    </div>
    <ion-card-header>
      <ion-card-subtitle>Coming Soon</ion-card-subtitle>
      <ion-card-title>Track Your Calories Intake</ion-card-title>
    </ion-card-header>
    <ion-card-content> This feature is coming soon. </ion-card-content>
  </ion-card> -->
</ion-content>
