<ion-list class="flex flex-col" *ngIf="workout">
  <ion-row class="ion-text-center">
    <ion-col size="3">
      <ion-label>Exercise Name</ion-label>
    </ion-col>
    <ion-col size="3">
      <ion-label>Weight</ion-label>
    </ion-col>
    <ion-col size="3">
      <ion-label>Rep</ion-label>
    </ion-col>
  </ion-row>

  <ng-container *ngFor="let exercise of workout.exercises">
    <ion-row class="ion-text-center mb-2">
      <ion-col size="3">
        <ion-label>{{ exercise.exercise_type_name }}</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>{{ exercise.weight }}</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>{{ exercise.rep }}</ion-label>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-list>
