<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>history-track hey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <mat-form-field floatLabel="always">
    <mat-label>Select Date to see Workout Details</mat-label>
    <div class="date-picker-wrapper">
      <ion-icon name="arrow-back" class="arrow-icon" (click)="navigateToPreviousWorkout()"></ion-icon>
      <input
        matInput
        [matDatepicker]="latestVisbilityDatePicker"
        [formControl]="selectedDateControl"
        (dateChange)="onDateChange($event)"
        [matDatepickerFilter]="dateFilter"
      />
      <ion-icon name="arrow-forward" class="arrow-icon" (click)="navigateToNextWorkout()"></ion-icon>
    </div>
    <mat-datepicker-toggle matSuffix [for]="latestVisbilityDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #latestVisbilityDatePicker></mat-datepicker>
  </mat-form-field>

  <ion-list class="flex flex-col" *ngIf="selectedWorkout">
    <ion-row class="ion-text-center">
      <ion-col size="3">
        <ion-label>Exercise Name</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>Weight</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>Rep</ion-label>
      </ion-col>
    </ion-row>

    <ng-container *ngFor="let exercise of selectedWorkout.exercises">
      <ion-row class="ion-text-center mb-2">
        <ion-col size="3">
          <ion-label>{{ exercise.exercise_type_name }}</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>{{ exercise.weight }}</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label>{{ exercise.rep }}</ion-label>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-list>
</ion-content>
