<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>history-track hey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment class="mb-4" (ionChange)="segmentChanged($event)" value="daily">
    <ion-segment-button value="daily">
      <ion-label>Daily Overview</ion-label>
    </ion-segment-button>
    <ion-segment-button value="progress">
      <ion-label>Progress Overview</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="currentSegment === 'daily'; else ProgressOverview">
    <app-daily-workout [workouts]="workouts$ | async"></app-daily-workout>
  </ng-container>
  <ng-template #ProgressOverview>
    <app-progressive-workout></app-progressive-workout>
  </ng-template>
</ion-content>
