<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-btn></app-back-btn>
    </ion-buttons>
    <ion-title class="ion-text-center">Let's checkout progress!</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="shadow overflow-hidden rounded-xl m-4">
    <ul role="list" class="divide-y" *ngIf="(workoutList$ | async) as pastWorkouts">
      <li
        *ngFor="let item of pastWorkouts"
        class="flex items-center justify-around h-20 gap-4 mx-4"
        (click)="onClick(item)"
      >
        <div class="w-6 h-6">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              style="fill: #00bf9f"
              d="M22 5.2 10.6 16.6l-4.2-4.2L7.8 11l2.8 2.8 10-10L22 5.2zm-2.2 5c.1.6.2 1.2.2 1.8 0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8c1.6 0 3 .5 4.3 1.2l1.4-1.4C16.1 2.7 14.1 2 12 2 6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10c0-1.2-.2-2.3-.6-3.4l-1.6 1.6z"
            />
          </svg>
        </div>
        <div class="flex flex-col">
          <p class="text-[17px] text-bluegray-950 dark:text-bluegray-50">Workout</p>
          <p class="flex items-center text-sm text-bluegray-750 dark:text-bluegray-250">
            {{ item.created_at | date:'medium' }}
          </p>
        </div>

        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            class="fill-[#8CA0B1] dark:fill-[#718698]"
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </li>
    </ul>
  </div>
</ion-content>
