<button class="flex" (click)="clickToBack()">
  <svg
    class="w-7 h-7"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 24 24"
    enable-background="new 0 0 24 24"
    xml:space="preserve"
  >
    <rect fill="none" width="24" height="24" />
    <g>
      <polygon class="fill-bluegray-600 dark:fill-bluegray-500" points="17.8,3.8 16,2 6,12 16,22 17.8,20.2 9.5,12 " />
    </g>
  </svg>
</button>
